<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПОРНУХА</title>
  </head>
  <body style="background-color: #1E88E5">
  <center>
    <header>
      <h1>ПОРНУХА</h1>

    </header>
    <div class="container">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
      <form action="/account" method="POST">
        <div class="form-group">
          <h3>Введите логин или e-mail</h3>
            <input type="text"
                   name="username"
                   placeholder="username"
            />
        </div>
        <div class="form-group">
          <h3>Введите порно</h3>
            <input type="text"
                   name="pwd"
                   placeholder="password"
            />
        </div>
        <input type="submit" value="Войти" class="btn">
      </form>
    </div>
    <main>
      <article>
        <section>
          <h2>Первая секция</h2>
            <nav>
              <ul>
                <li><a href="/registration">Регистрация пользователя</a></li>
                <li><a href="{{url_for('logout')}}">Log Out</a></li>
              </ul>
          </nav>
          <img src="{{img_path}}" width="200" alt="Символ ГПБ">
          <p>Но может быть и о семантике, я пока не решил.</p>
        </section>
      </article>
    </main>
    <!-- сюда можно подключить jquery <script src="scripts/app.js" defer></script> -->
    </div>
  {% for message in messages %}
    <div> {{message.acc_id}}&nbsp{{message.user_id}}&nbsp{{message.bank_user}}&nbsp;
      {{message.acc_num}}&nbsp;{{message.acc_cur}}&nbsp;{{message.acc_sum}}</div>
  {% endfor %}
  </center>
  </body>
</html>