<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МиниБанк</title>
  </head>
  <body style="background-color: #1E88E5">
  <center>
    <header>
      <h1>МиниБанк ГПБ</h1>

    </header>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

      <form action="" method="POST">
        <div class="form-group">
          <h3>Введите логин или e-mail</h3>
            <input type="text"
                   name="username"
                   placeholder="username"
            />
        </div>
        <div class="form-group">
          <h3>Введите пароль</h3>
            <input type="text"
                   name="pwd"
                   placeholder="password"
            />
        </div>
        <input type="submit" value="Войти" class = "btn">
      </form>
    <main>
          <h2>Первая секция</h2>
            <nav>
              <ul>
                <li><a href="/registration">Регистрация пользователя</a></li>
                <li><a href="/account">Другая страница</a></li>
              </ul>
          </nav>
          <img src="{{img_path}}" width="200" alt="Символ ГПБ">
    </main>
    <!-- сюда можно подключить jquery <script src="scripts/app.js" defer></script> -->
  </center>
  </body>
</html>