<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация пользователя</title>
  </head>
<body style="background-color: #1E88E5">
<center>
  <header>
    <h1>Регистрация пользователя</h1>
  </header>
<div class="container">
      <form action="/api/registration" method="POST">
        <div class="form-group">
          <h3>Please enter FIO</h3>
            <input type="text"
                   name="fio"
                   placeholder="FIO"
            />
        </div>
        <div class="form-group">
          <h3>Please enter e-mail</h3>
            <input type="text"
                   name="email"
                   placeholder="email"
            />
        </div>
        <div class="form-group">
          <h3>Please enter username</h3>
            <input type="text"
                   name="username"
                   placeholder="username"
            />
        </div>
        <div class="form-group">
          <h3>Please enter password</h3>
            <input type="text"
                   name="pwd"
                   placeholder="password"
            />
        </div>
        <input type="submit" value="Submit" class="btn">
      </form>
  <img src="{{img_path}}" width="200" alt="Символ ГПБ">
  </div>
  {% for message in messages %}
    <div> {{message.user_id}}&nbsp;{{message.user_fio}}&nbsp;{{message.user_email}}&nbsp;</div>
  {% endfor %}

</center>
</body>
</html>