<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start page</title>
</head>
<body style="background-color: #1E88E5">
<ul>
<li><a href="{{url_for('account')}}">Добро пожаловать!</a></li>
</ul>
</body>
</html>